<nav class="navbar bg-dark">
    <div class="d-flex">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">
                <i class="fa-brands fa-opencart ps-4"></i>
                <i class="fa-solid fa-m fa-fade ps-3"></i>
                <i class="fa-solid fa-a fa-fade ps-1"></i>
                <i class="fa-solid fa-j fa-fade ps-1"></i>
                <i class="fa-solid fa-e fa-fade ps-1"></i>
                <i class="fa-solid fa-s fa-fade ps-1"></i>
                <i class="fa-solid fa-t fa-fade ps-1"></i>
                <i class="fa-solid fa-i fa-fade ps-1"></i>
                <i class="fa-solid fa-c fa-fade ps-1"></i>
            </a>
        </div>
        
    </div>
</nav>